<div class="text-xl flex flex-col items-center">
    <p class="mb-6 text-center">
        This is a demo app for administrators of the school library to help managing books.
    </p>
    <p class="mb-6 text-center">Explore it with credentials:</p>
    <div class="min-w-max mx-auto">
        <div class="text-left flex items-center gap-6 justify-between mb-2">
            <span>{{'Email: ' + email}}</span>
            <button (click)="copyEmail()" class="flex items-center gap-1 text-sm cursor-pointer">
                <app-icon-copy/>
                Copy
            </button>
        </div>
        <div class="text-left flex items-center gap-4 justify-between">
            <span>{{'Password: ' + password}}</span>
            <button (click)="copyPassword()" class="flex items-center gap-1 text-sm cursor-pointer">
                <app-icon-copy/>
                Copy
            </button>
        </div>
    </div>
</div>
