<div class="p-6 md:p-12 lg:max-w-[633px] lg:mx-auto">
    <app-go-back-button />
    <div class="flex flex-col gap-4 mt-10 relative">
        <h1 class="text-center text-2xl">Borrow book</h1>

        @if (!showCamera) {
            <button mat-fab extended class="middle-button" (click)="scanWithCamera()">
                <mat-icon>camera_alt</mat-icon>
                Scan ISBN with camera
            </button>
        }
        @if (showCamera) {
            <div>
                <video id="video" width="300" height="200" autoplay muted class="rounded-2xl mx-auto"></video>
                @if (scannedResult) {
                    <p class="mt-4"><strong>Scanned ISBN:</strong> {{ scannedResult }}</p>
                }
            </div>
        }


        <mat-form-field required class="input-field">
            <mat-label>Book ISBN</mat-label>
            <input matInput [(ngModel)]="bookISBN" name="bookISBN">
        </mat-form-field>
        <mat-form-field required class="input-field">
            <mat-label>Child name</mat-label>
            <input matInput [(ngModel)]="childName" name="childName">
        </mat-form-field>
        <mat-form-field required class="input-field">
            <mat-label>Child group</mat-label>
            <input matInput [(ngModel)]="childGroup" name="childGroup">
        </mat-form-field>
        <div class="w-full flex md:block">
            <button mat-fab extended class="middle-button" (click)="BorrowBook()" [disabled]="disableBtn">
                <mat-icon>import_contacts</mat-icon>
                Borrow book
            </button>
        </div>

        @if (disableBtn) {
            <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                <mat-spinner></mat-spinner>
            </div>
        }
    </div>
</div>

