<main class="container-page">
  <h2 class="text-3xl sm:text-4xl lg:text-5xl text-center mb-10 lg:mb-24">{{ t.welcome }}</h2>
  <nav class="container-buttons">
    <a mat-fab extended class="big-button" routerLink="/borrow-book">
      <mat-icon>import_contacts</mat-icon>
      {{ t.borrow }}
    </a>
    <a mat-fab extended class="big-button" routerLink="/return-book">
      <mat-icon>assignment_return</mat-icon>
      {{ t.return }}
    </a>
    <a mat-fab extended class="big-button" routerLink="/add-new-book">
      <mat-icon>library_add</mat-icon>
      {{ t.add }}
    </a>
    <a mat-fab extended class="big-button" routerLink="/remove-book">
      <mat-icon>delete_forever</mat-icon>
      {{ t.remove }}
    </a>
    <a mat-fab extended class="big-button lg:grow" routerLink="/books-overview">
      <mat-icon>menu_book</mat-icon>
      {{ t.overview }}
    </a>
  </nav>
</main>
