<div class="page">
  <app-go-back-button />
  <form class="page-form" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="text-center text-2xl">{{ t.add.title }}</h1>

    <app-scanner (scanned)="onScanned($event)" />

    <mat-form-field class="input-field">
      <mat-label>{{ t.fields.isbn }}</mat-label>
      <input matInput formControlName="isbn" inputmode="numeric" autocomplete="off">
      @if (form.controls.isbn.hasError('required')) {
        <mat-error>{{ t.fields.required }}</mat-error>
      } @else if (form.controls.isbn.hasError('isbn')) {
        <mat-error>{{ t.fields.invalidIsbn }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>{{ t.fields.title }}</mat-label>
      <input matInput formControlName="title" autocomplete="off">
      <mat-error>{{ t.fields.required }}</mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>{{ t.fields.author }}</mat-label>
      <input matInput formControlName="author" autocomplete="off">
      <mat-error>{{ t.fields.required }}</mat-error>
    </mat-form-field>

    <button mat-fab extended type="submit" class="middle-button" [disabled]="busy()">
      <mat-icon>library_add</mat-icon>
      {{ t.add.submit }}
    </button>

    @if (busy()) {
      <div class="busy-overlay"><mat-spinner /></div>
    }
  </form>
</div>
